.DS_Store

# Build results
artifacts/
wwwroot/
bin/

# Visual Studio Code
.vscode

# Rider
.idea

# Visual Studio
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Azure Functions localsettings file
local.settings.json