@import "tailwindcss";

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  --color-bg: #ffffff;
  --color-bg-light: #eeeeee;
  --color-text: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0a0a0a;
    --color-bg-light: #222222;
    --color-text: #e5e7eb;
  }
}

@layer base {
  :root {
    font-family: var(--font-sans);
  }
  a {
    @apply underline underline-offset-3;
  }
  small,
  p {
    @apply text-center;
  }
}

@utility bottom {
  @apply mt-12 mb-20;
}

@utility text-muted {
  @apply text-neutral-400 dark:text-neutral-500;
}

@utility shad-blue {
  @apply shadow-[0_0_1px_3px_rgba(59,153,252,0.7)] outline-none;
}
