---
import "../styles/global.css";
const { title } = Astro.props;

const description = "Software development and consulting for AEC. 3D applications, integrations for CAD, CAM, CAE, industrial robots.";
const footerItems = ["visose ltd", "71-75 Shelton Street", "Covent Garden", "WC2H 9JQ", "London"];
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="description" content={description} />
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-0P4KTCKRFM"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-0P4KTCKRFM');
    </script>
    <title>visose / {title}</title>
  </head>
  <body class="flex flex-col justify-between min-h-full px-4 py-2 bg-bg text-text">
    <header></header>
    <main class="flex flex-col justify-center items-center">
      <slot />
    </main>
    <footer class="flex flex-wrap justify-center gap-4 text-xs text-neutral-500 dark:text-neutral-400">
      {
        footerItems.map((item, i) => [
          <span class="whitespace-nowrap">{item}</span>,
          i < footerItems.length - 1 && <span class="text-neutral-400 dark:text-neutral-500">/</span>,
        ])
      }
    </footer>
  </body>
</html>
