---

---

<article>
  <h1>How many users are covered?</h1>
  <p>
    The pricing for commercial support is based on number of robots in your organization used with the software, regardless of the number of users.
  </p>
  <p>
    If your organization has more than @RobotsPricing.Default.MaxRobots robots, contact us at <a
      href="mailto:info@visose.com?subject=Interested in Robots commercial support for a large organization">info@visose.com</a
    >
    for a quote.
  </p>
</article>
<article>
  <h1>What if we acquire more robots?</h1>
  <p>
    If you acquire additional robots after purchasing commercial support, the price remains the same for the active subscription period, and will
    update on the following year.
  </p>
</article>
<article>
  <h1>What about external axes?</h1>
  <p>
    You only need to consider number of individual robot controllers you use with the software, regardless of the number of mechanical units connected
    to them.
  </p>
  <p>A single controller with two robot arms also counts as one robot.</p>
</article>
<article>
  <h1>What does customer support include?</h1>
  <p>
    It includes, where reasonably feasible: Assisting with specific difficulties you may have setting up the software; getting the software to work
    with your robots; any questions you may have about best practices and similar queries; requests for missing or outdated documentation.
  </p>
</article>
<article>
  <h1>How do we contact support?</h1>
  <p>
    Any member of staff can email to <a href="mailto:support@visose.com?subject=Robots support question">support@visose.com</a> mentioning your customer
    name. We can also join any chat app used at your organization, or schedule an online meeting.
  </p>
  <p>
    On-site support is available for an additional fee, please contact <a href="mailto:info@visose.com?subject=Interested in Robots on-site support"
      >info@visose.com</a
    > for more information.
  </p>
</article>
<article>
  <h1>What is the response time?</h1>
  <p>
    We will use reasonable endeavors to respond to all technical queries in a timely manner (usually within one business day), but no guarantees of
    response time can be given.
  </p>
</article>
<article>
  <h1>What is a custom robot library?</h1>
  <p>A robot library contains the configuration of the robot cells in your organization.</p>
  <p>Commercial support includes the creation, hosting, and maintenance of a robot library for your organization.</p>
  <p>We will ask you about some configuration values found in your robot controllers.</p>
</article>
<article>
  <h1>Can I create a robot library myself?</h1>
  <p>Yes, you can also author your own robot library and publish it via a pull request to the Robots repository in GitHub.</p>
</article>
<article>
  <h1>What does it mean to become a sponsor?</h1>
  <p>By purchasing commercial support, you also invest in the continued development of an open-source project that your organization relies on.</p>
  <p>You can choose to have your organization name and logo listed as a sponsor.</p>
</article>
<article>
  <h1>What else is included?</h1>
  <p>Any software defects you report will be prioritized and fixed in a timely manner.</p>
  <p>We guarantee maintaining compatibility with future Rhino 3D releases during the support period in both Windows and Mac.</p>
</article>
<article>
  <h1>Can you help us with a project?</h1>
  <p>Commercial support covers queries related to the software Robots, but we are happy to work on your project for a fee.</p>
  <p>We also offer consulting, custom software development, and other services.</p>
  <p>Please email <a href="mailto:info@visose.com?subject=Interested project consultation">info@visose.com</a> with the details for a quote.</p>
</article>
<article>
  <h1>What is your cancellation policy?</h1>
  <p>You can cancel at any time for any reason, and we will refund you for the remaining months of the support period.</p>
</article>

<style is:global>
  @reference "../../styles/global.css";

  @layer component {
    .faq article {
      @apply max-w-[600px];
    }

    .faq h1 {
      @apply mb-3 font-light text-2xl;
    }

    .faq h1:before {
      @apply mr-2 content-['‣'];
    }

    .faq p {
      @apply mb-2 text-left;
    }

    .faq p:last-of-type {
      @apply mb-0;
    }
  }
</style>
