---
import Base from "../../layouts/Base.astro";
---

<Base title="robots / canceled">
  <p>The purchase was canceled.</p>
  <p>If you have any questions, please email <a href="mailto:info@visose.com">info@visose.com</a>.</p>
  <a class="bottom" href="./">back</a>
</Base>
