---
interface Props {
  links: { href: string; label: string }[];
}

const { links } = Astro.props;
---

<nav class="flex gap-5">
  {
    links.map((link, i) => [
      <a href={link.href} class="no-underline hover:underline underline-offset-3">
        {link.label}
      </a>,
      i < links.length - 1 && <span class="text-muted">/</span>,
    ])
  }
</nav>
