@using Statiq.Common
@using Statiq.Razor
@using Statiq.Web
@inherits StatiqRazorPage<IDocument>

@{
    string page = Document.GetString(WebKeys.Title);
    string title = page.Equals("index") ? "visose" : "visose / " + page;

    bool HasFile(string extension)
    {
        return Outputs
        .Any(d => d.Source.FileName.Equals($"{Document.Source.FileNameWithoutExtension}.{extension}"));
    }
}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Software development and consulting. We create 3D applications and integrations for CAD (computer-aided design), CAM (computer-aided manufacturing), industrial robots.'>

    <title>@title</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
    <link rel='stylesheet' type='text/css' href='/style.css'>
    @if (HasFile("css"))
    {
        <link rel='stylesheet' type='text/css' href='/@(page).css'>
    }
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0P4KTCKRFM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0P4KTCKRFM');
    </script>
    @if (HasFile("js"))
    {
        <script src='/@(page).js' defer></script>
    }
</head>

<body>
    <header></header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <span>visose ltd</span>•<span>71-75 Shelton Street</span>•<span>Covent Garden</span>•<span>WC2H
            9JQ</span>•<span>London</span>
    </footer>
</body>

</html>