Title: robots
---
@using System.Text.Json
@using visose.Shared;
@{
    var options = new JsonSerializerOptions
            {
                PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
                WriteIndented = true,
            };

    var pricingJson = JsonSerializer.Serialize(RobotsPricing.Default, options);
    int maxRobots = RobotsPricing.Default.MaxRobots;
}

<script>
    const robotsPricing = @Html.Raw(pricingJson)
</script>

<img src="iconRobot.svg" alt="Robots logo" />
<h1>Adopt open source with confidence</h1>
<h3>Partner with the creators of <a href="https://github.com/visose/Robots">Robots</a> to ensure you have the best support for your organization.</h3>
<section class="cards">
    <article>
        <h1>Community</h1>
        <h2>Free</h2>
        <div class="subPrice">for everyone</div>
        <ul>
            <li>Community support</li>
        </ul>
        <a href="https://github.com/visose/Robots/discussions">Get Started</a>
    </article>
    <article>
        <h1>Commercial</h1>
        <h2 id="price">£0,000 / year</h2>
        <div class="subPrice" style="width: 125px;">
            for
            <select form="checkout" id="robots" name="robots">
                @for (var i = 1; i <= maxRobots; i++)
                {
                    <option>@i</option>
                }
            </select>
            robot<span id="s"></span><sup>&nbsp;*</sup>
        </div>
        <ul>
            <li>Customer support</li>
            <li>Custom robot library</li>
            <li>Priority bug fixes</li>
            <li>Become a sponsor</li>
        </ul>
        <button form="checkout" type="submit">Purchase Support</button>
        <form id="checkout" action="/api/checkout" method="post"></form>
    </article>
</section>

<small>* Corresponds to the number of robot controllers in your organization.</small>
<small>For more than @maxRobots robots contact <a href="mailto:info@visose.com?subject=Interested in Robots commercial support for a large org">info@visose.com</a> for a quote.</small>

<h2>Frequently Asked Questions</h2>

<section class="faq">
    @Html.Partial("_faq")
</section>
<h4><a href="mailto:info@visose.com?subject=Interested in Robots commercial support">Get in touch</a></h4>