section {
    margin: 0 0 6rem 0;
}

article>h2 {
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    text-transform: uppercase;
}

article>ul {
    list-style: none;
    font-size: 1rem;
    line-height: 1.8rem;
}

article li {
    display: flex;
}

article li:before {
    content: "▷";
    margin-right: 0.8rem;
    font-size: 0.7rem;
}