@font-face {
    font-family: "fredoka";
    src: url("fredoka.ttf");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "fredoka", sans-serif;
    --bg: #fff;
    --color: #000;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --color: #fff;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--color);
    min-height: 100%;
}

@media (max-width:500px) {
    body {
        flex-direction: column;
    }
}